.products-list {
	max-height: 100%;
	height: 90vh;
	width: 80%;

	@media screen and (max-width: 950px) {
		width: 95%;
	}

	.navbar {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 999;
		background: #7b5dfa !important;

		button {
			color: #ffffff;
			background: none;
			border: none;
			padding: 1rem 3rem;
			transition: all 0.2s ease-in-out;

			&:hover {
				color: #000000;
			}
		}
	}

	.navbar-toggler-icon {
		color: #ffffff;
	}

	.products-cta {
		display: flex;
		justify-content: center;
		& > h2 {
			margin: 0 auto;
			text-align: center;
			padding: 2em;
			color: #2f2f2f;
			font-size: 2.7rem;
			font-weight: 600;
		}
	}
	& > .table-container {
		height: auto;
	}

	.buttons-row {
		display: flex;
		justify-content: space-between;
		& > button {
			background-color: #7b5dfa;
			border: 0.1em solid #7b5dfa;
			padding: 0.7em 0.5em;
			border-radius: 0.5em;
			font-family: inherit;
			margin: 1em 2em;
			color: #fff;
			cursor: pointer;
			font-weight: 500;
			transition: all 300ms ease;
			font-size: 1rem;

			&:focus {
				border: 0.1em solid darken(#7b5dfa, 10);
				outline: none;
			}

			&:hover {
				background-color: darken(#7b5dfa, 5);
			}
		}
	}
}
